$navy-blue: #0B3961;
$deep-navy-blue: #062035;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Patrick Hand', cursive !important;
  color: $navy-blue !important;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.answer-form {
  text-align: center;
}

.answer-form button {
  display: block;
  margin: 15px auto;
  background-color: #0B3961;
  border: 1px solid #0B3961;
  border-radius: 2px;
  font-size: 16px;
  color: white;
}

.answer-form input {
  height: 38px;
  border: 2px solid #0B3961;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
  margin: 15px;
}

.app-container {
  height: 100vh;
  min-height: 80vh;
  width: 100%;
  background: url('../../assets/images/landscape.png') no-repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.game-monster-image {
  position: absolute;
  left: 25%;
  bottom: 10%;
}

.get-started-button {
  background-color: $navy-blue;
  border: 1px solid $navy-blue;
  border-radius: 2px;
  width: 140px;
  font-size: 18px;
  padding: 5px;
  color: white;
  margin: 0 auto;
  display: block;
  &:hover {
    background-color: $deep-navy-blue;
  }
}

.get-started-message {
  opacity: 0.8;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  width: 600px;
  padding: 24px 18px;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: justify;
  h1 {
    margin: 0;
    font-size: 48px;
    text-align: center;
  }
  p {
    margin: 40px 0;
    font-size: 24px;
  }
}

.feedback-container {
  text-align: center;
  font-size: 72px;
  z-index: 10;
}

.welcome-monster-image {
  width: 150px;
}

.welcome-monster-image:hover, .monster-animated {
  animation-name: shimmy;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  transition-timing-function: ease-in-out;
}

.modal-body-container {
  font-size: 28px;
  text-align: center;
}

.welcome-page-container {
  p {
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
  }
}

/* The animation code */
@keyframes shimmy {
  0%   {transform: rotate(0deg);}
  25%   {transform: rotate(40deg);}
  50%  {transform: rotate(0deg);}
  75%   {transform: rotate(-40deg);}
  100% {transform: rotate(0deg);}
}



